.colophon
  .container
    p
      strong &copy; 2017 The Asia Pacific Forum of National Human Rights Institutions
    p
      | The APF aims to make its website accessible for all visitiors.
      br
      a(href='http://www.asiapacificforum.net/accessibility-policy/') View APF's accessibility policy
      | &nbsp;-&nbsp;
      a(href='http://www.asiapacificforum.net/terms-and-conditions/') Terms and conditions
