.language
  .container
    ul.translation-links
      li
        a(href='/', data-locale='en', data-lang='English')
          span.notranslate English
      li
        a(href='/ar', data-locale='ar', data-lang='Arabic')
          span.notranslate &#x627;&#x644;&#x639;&#x631;&#x628;&#x64A;&#x629;
      li
        a(href='/id', data-locale='id', data-lang='Indonesian')
          span.notranslate Bahasa
      li
        a(href='/ko', data-locale='ko', data-lang='Korean')
          span.notranslate &#xD55C;&#xAD6D;&#xC5B4;
      li
        a(href='/zh-CN', data-locale='zh-CN', data-lang='Chinese (Simplified)')
          span.notranslate &#x666E;&#x901A;&#x8BDD;
      li
        a(href='/ru', data-locale='ru', data-lang='Russian')
          span.notranslate &rcy;&ucy;&scy;&scy;&kcy;&icy;&jcy;
