extends layout
include mixins/form

block content
  .row
      .cell-form

        form.form(method='post', action='/')

          .form__row
            h3 This is the header

          - var error_required = "This field is required"
          +form_text('surname', 'Surname / family name', 'true', error_required, '')
          +form_email('email', 'Email', 'true', 'Enter a valid email', '')
          +form_select('test', 'THis is a test select', 'true', 'Select one option from the available', {})

          .form__row
            input.formSpeedConnection(type='hidden', name='speed')
            input.formTechOs(type='hidden', name='os')
            input.formTechBrowser(type='hidden', name='browser')
            input.formTechResolution(type='hidden', name='resolution')
            input.formTechCountry(type='hidden', name='country')
            button.btn.btn--primary.btn--submit(type='submit') Submit

      .cell-module
        .card
          h2 Language
          #google_translate_element
          script(type='text/javascript').
            function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,ar,id,ko,ru,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
            }
          script(type='text/javascript', src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit')
        .card
          h2 Speed
          h3.speedConnection ---
        .card
          h2 Technology
          ul
            li.techOs ---
            li.techBrowser ---
            li.techResolution --- x ---
            li.techCountry ---
