$base-serif: Georgia, "Times New Roman", serif;
$base-sansserif: Helvetica, Arial, sans-serif;

$colour-black: #222222;
$colour-white: #ffffff;
$colour-primary: #006eb2;
$colour-secondary: #004e7f;
$colour-highlight: #cf205d;
$colour-warning: #ff5a62;
$colour-success: #00af73;

$colour-grey-base: $colour-black;
$colour-monochrome: $colour-grey-base;
$colour-grey-darker: #555555;
$colour-grey-dark: #6d676d;
$colour-grey: #cccccc;
$colour-grey-light: #ededed;
$colour-grey-lighter: #f2f2f3;

$max-width: 1170px;

$base-border-radius: 5px;
